@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/point.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
/*components*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
/*screens*/


body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
}
.welcome-header_title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header_text {
  width: 60%;
  opacity: 0.8;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}