.more-screen .icon-row{
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.more-screen .icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  transition: color 0.3s ease-in-out;
  color:rgba(0, 0, 0, 0.6);
}

.more-screen .icon-row__icon:hover {
  cursor: pointer;
  color: black;
}

.more-suggestions {
  margin-top: 30px;
  border-top: var(--main-border);
  padding-top: 20px;
}
.more-suggestions__title {
  margin-bottom: 30px;
}
.more-suggestions__icons {
  display: flex;
}
.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.more-suggestions__icon-image i {
  font-size: 30px;
}